{% extends 'todo/base.html' %}

{% block content %}
<div class="center">
    <h1>Организация клиентского обслуживания</h1>
    <p>Развивайте наш бизнес с помощью продвинутой платформы Mango Office</p>
    <h2>Для чего нужен Mango Office</h2>
    <p>Mango Office – это это облачная платформа для профессиональной работы с клиентами по телефону
        и управления звонками, сотрудниками и бизнес-процессами в режиме реального времени</p>
    <p>Мы находим слабые стороны в работе сотрудников и
        улучшаем уровень обслуживания клиентов.</p>
    <form action="{% url 'loginuser' %}" class="center"><button class="btn">Начать</button></form>
</div>
{% endblock %}