{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Автор:</h1>
        <p>Атаманюк Михаил Дмитриевич</p>
    <h2>Правила пользования генератора паролей:</h2>
    <ul>
        <li>Указываем количество символов</li>
        <li>Верхний регистр отвечает только заглавные буквы в пароле</li>
        <li>Цифры отвечают за наличие цифр в пароле</li>
        <li>Спецсимволы отвечают за наличие спец символов</li>
    </ul>
        <p><a href="{% url 'home' %}">Вернуться на главную страницу</a></p>
</body>
</html>
